.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}

.social a {
  font-size: 2em;
  padding: 0.5rem;
}

.fa-facebook {
  color: #3b5998;
}
.fa-twitterk {
  color: #00acde;
}
.fa-instagram {
  color: #cd486b;
}
.fa-linkedin {
  color: #0e76a8;
}







