
body {
    background-color: #252a34;
    font-family: 'Oxygen', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
  }
  p, a, ul, li{
    font-family: 'Sen', sans-serif;
  }
  .sen700{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
  }
.bgcolor {

    background-color: #eaeaea;
}
.break-text {
  word-wrap: break-word;
}
.starc{
  color: goldenrod;
}

.red-close-button{
  color: red;
}

.bootstrap-select.btn-group .btn .filter-option {
  text-align: right   
}
.carousel-inner > .item {
  height: 400px;
}

